body{
  font-family: sans-serif;

}
@media (max-width: 1400px) {
  .dor{
    max-width: 970px;
  }

  .block5{
    margin-left: -863px;
    padding-top:500px;
  }
}
@media (max-width: 992px) {
  .dor{
    max-width: 750px;
  }
  .block6{
    padding-top: 200px;
    margin-left: -690px
  }
  .block7{
    padding-left: 20px;
    margin-left: -300px;
  }
  .block9{
    margin-top: 300px;
    margin-left: -690px;
  }
}
@media (max-width: 767px) {
  .dor{
    max-width: none;
  }
  .block3{
    margin-left: -412px;
    margin-top: 500px;
  }
  .block4{
    margin-top: -50px;
    margin-left: -412px;

  }
  .block8{
    margin-left: -100px;
  }
  .block9{
    margin-top:1000px;
    margin-left: -690px;
  }
}
.im_he{
  padding-top: -100px;
  width: 50px;
  float: left;
  padding-left: 150px;
}
.gray_scren{

  width: auto;
  padding-top: 100px;
  height: 260px;
  background-color:#f6f6f6
}
.green_word{
  color :#10cab7;
  text-align: center;
}
.txt1{
  text-align: center;
}
.txt2{
  text-align: center;
}
.txt3-5{
  margin-top: 50px;
  float: left;
  text-align: center;
}
.txt3-5:nth-of-type(1){
  margin-left: 137px
}
.txt3-5:nth-of-type(2){
  margin-left: 137px;
}
.txt3-5:nth-of-type(3){
  margin-left: 137px;
}
.txt3-5 i{
  padding-right: 20px;
  padding-bottom: 50px;
}
.mid_txt{
  margin-top: 400px;
  margin-bottom: 400px;
  text-align: center;
  padding-bottom: 70px;
}
.gery{
  font-size: 35px;
  color:#f6f6f6;
  text-align: center;
}




.grAR_word{
  color: #ebeced;
  font-size: 75px;
  padding-top: 100px;
  text-align: center;
}
.grAR_scren{
  height: 900px;
  margin-top: 250px;
  background-color:#fafafa
}
.port_wor{
  text-align: center;
}
.port_img{
  margin-top: 100px;
  max-width: 250px;
  padding-left: 100px;
  margin-left: 50px;
  float: left;
}
.immm{
  background-color: white;
  width: 250px;
  height: 250px;
}
.main_abb{
  color:#f6f6f6;
  margin-top: 100px;
  font-size: 100px;
  text-align: center;

}
.pod_main{
  text-align: center;
}
.txt14{
  margin-top: 100px;
  padding-left:690px ;
  float:;
}
.txt15{
  margin-top: -200px;
  margin-left: 690px;
}
.txt16{

  color: #f6f6f6;
  font-size: 100px;
  text-align: center;
}
.txt17{
  margin-top: 100px;
  text-align: center;
}
.txt18{
  padding-left: 350px;
  color:#2c4755
}
a {
  font-size: 30px;
  color:#10cab7;
  text-decoration: underline;
}
.Gr_Sc{
  height: 100%;
  background-color:#fafafa;

}
.emm{
  padding-left: 20px;
}
.txt19{
  padding-left: 400px;
  padding-top: 50px;
}
.boll{
  padding-left: 700px;
}
.i{
  padding-right: 30px;
  padding-left: 40px;
  float: left;
}
.f{
  margin-top: -35px;
  padding-left: 170px;
}
footer{
  margin-top: 20px;
  color: white;
  background-color:#2c4755;
}
.di{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 600px;
  width: 250px;
}
.cont{
  box-sizing: border-box;
  margin-left: 70%;
  width: 300px;
  background-color: ;
  position: relative;
  color: white;
  text-align: center;
  padding-top: 250px;
}
#check-menu{
  display: none;
}
label{

  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  cursor: pointer;
  line-height: 40px;
}
.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color:black;
  transition: 0.3s all;
}
.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
  top: 18px;
}
.burger-line:nth-of-type(4){
  top: 28px;
}
.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: 1s all;

}

.main-menu a{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background-color:#2c4755;
  text-decoration: none;
  border: 1px solid gray;

}
.main-menu a:hover{
  background-color: orange;

}
#check-menu:checked ~ .main-menu{
  max-height: 1500px;
  font: 16px;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(1),
#check-menu:checked ~ .burger-line:nth-last-of-type(4){
  display: none;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(2){
  transform: rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-last-of-type(3){
  transform: rotate(-45deg);
}
.img2{
  margin-top: -400px;
  padding-left: 1100px;
}
.img1{
  padding-left: 75px;
  padding-right: 600px;
}
.q{
  width: 100%;
  padding-top: 200px;
}
.imgx3 i{
  color: #10cab7;
  padding-left: 25px;
  padding-top: 20px;
  font-size: 50px;
}
i {
  color: #10cab7;
}
.pri_img i{
  padding-left: 350px;
  font-size: 35px;
}
.msg_img{
  padding-left: 350px;
  font-size: 35px;
  padding-top: 60px;
}
.pac_img i{
  font-size: 35px;
  padding-top: 20px;
}
.pac_img i:nth-of-type(2){
  padding-top: 90px;
}

.txt6-7{
  margin-top: 00px;
  padding-left: 137px
}
.txt6{
  margin-top: -32px;
  margin-bottom: 40px;
  font-size: 9px;

}
.txt7{
  width: 275px;

}
.txt6-7 i{
  margin-left: -50px;
  font-size: 35px;
}
.radd{
float: left;
}
.txt8-9{
  margin-left: 137px;
}
.txt8-9i{padding-top: 50px;
  margin-left: -50px;

  font-size: 35px;
  width: 35px;
}
.txt8{
  margin-top: -30;
  margin-bottom: 40px;
  font-size: 9px;
}
.txt9{
  width: 275px;
  padding-top: 6px;
}
.txt8 h1{
  margin-top: -30px;

}
.txt10-11{
  margin-top: -455px;
  margin-left: 549px;
}
.txt10{
  margin-top: -33px;
  margin-bottom: 40px;
  font-size: 18px;
}
.txt10-11i{
  margin-left: -50px;
  font-size: 32px;
}
.txt12{margin-top: -33px;
margin-bottom: 40px;
  font-size: 18px;
}
.txt12-13{
  margin-left: 549px;
  margin-top: 100px;
}
.txt12-13i{
  margin-left: -50px;
  font-size: 32px;
}
.block5{
  margin-top: -400px;
padding-left: 1000px;
}
